*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 18px;
}

.header{
    display: grid;
    grid-template-columns: 65px 65px 1fr 65px 85px 65px 80px;
    grid-column-gap: 10px;
    grid-template-rows: 75px;
    margin: 0px 18px;
}

.header div{
    place-self: center;
}

.header a{
    text-decoration: none;
    font-size: 18px;
    color: black; 
}

.header a:hover{
    text-decoration: underline black;
}

.account{
    border-radius: 50%;
}

.main{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
}

.logo{ 
    margin-bottom 10px;
    grid-column: 1/3;
    place-self: center;
}

.main .search{
    display: grid;
    grid-template-columns: 25px auto;
    grid-template-rows: 100px;
}

.search{ 
    grid-column: 1/3;
    place-self: center;
    border-radius: 30px;
    padding: 5px 0px;
    border: rgb(179, 177, 177) .5px solid;
    width: 45%;
    height: 45px;
    margin: 30px 0 40px;
}

.search:hover{
    box-shadow: 0 0 5px rgb(255, 255, 255), 0 1px 5px grey;
    cursor: text;
}

.s-icon{
    margin: 13px 0px 0px 17px;
    filter: opacity(.4) drop-shadow(0 0 0 rgb(207, 207, 207));  /*change search icon color*/  
}


.main input[type=text]{
    outline: none;
    border: none;
    margin-left: 20px;
    margin-top: 4px;
    width: 85%;
    height: 35px;
}

.btn1{
    justify-self: end;
    margin-right: 10px;
    border-radius: 10px;
    overflow: hidden;   /*hide background behind button border*/     
}

.btn2{
    margin left: 10px;
    justify-self: start;
    border-radius: 10px;
    overflow: hidden;  
}

.main button{
    background-color: rgb(247, 247, 247);
    border: none;
    padding: 12px 20px;
    outline: none;
    color: rgb(53, 53, 53);   
}

.btn1:hover{
    border:rgb(230, 228, 228) 1px solid;
    cursor: pointer;
    box-shadow: 0 2px rgb(221, 221, 221);
}

.btn2:hover{
    border:rgb(230, 228, 228) 1px solid;
    cursor: pointer;  
    box-shadow: 0 2px rgb(221, 221, 221);     
}

.footer{
    display: grid;
    grid-template-columns: auto auto auto 1fr auto auto auto;
    grid-template-rows: auto;
    background-color: rgb(240, 239, 239); 
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.footer div{
    text-align: center;
    padding: 20px;   
}

.footer a{
    text-decoration: none;
    color: rgb(114, 114, 114);
    vertical-align: middle;
}


.footer img{
    vertical-align: middle;
}

.carbon{
    margin-right: 100px;    /*center carbon footprint text*/
}




     